<md-toolbar color="primary" class="mat-elevation-z1 mat-toolbar " #header>

    <div>
        <button md-button routerLink="/home">
            <img src="assets/img/icon.png" width="25px">
            <span class="mat-title" fxShow="true" fxShow.lt-md="false">&nbsp;TheZoo</span>
        </button>
    </div>

    <!-- Span to take the middle space so log-in is to the right -->
    <span fxFlex></span>


    <!-- <a [routerLink]="[ '/animals/all' ]">Animals</a> -->
    <span *ngIf="displayName || (userService.userA | async) ">
    <a md-button (click)="logOut()">Log Out</a>
    <a md-button [routerLink]="[ '/users/profile' ]">{{displayName}}</a>
    </span>
    <span *ngIf="!displayName">
        <a  md-button [routerLink]="[ '/users/login' ]">Log In</a>
    </span>

    <!-- menu button -->
    <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<!-- menu -->
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settins</button>
    <button md-menu-item (click)="toggleTheme()">Toggle Theme</button>
    <button md-menu-item>Contact</button>
    <button md-menu-item>Free Hugs</button>
    <button md-menu-item>Help Me!</button>
</md-menu>