<md-toolbar color="primary" class="mat-elevation-z1 mat-toolbar " #header>
    <span><md-icon>pets</md-icon>
        &nbsp;TheZoo
        </span>

    <a [routerLink]="[ '/animals/all' ]">Animals</a>
    <a [routerLink]="[ '/users' ]">Log In</a>
    <!-- menu button -->
    <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
        </button>
</md-toolbar>

<!-- menu -->
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settins</button>
    <button md-menu-item (click)="toggleTheme()">Toggle Theme</button>
    <button md-menu-item>Contact</button>
    <button md-menu-item>Free Hugs</button>
    <button md-menu-item>Help Me!</button>
</md-menu>