<md-toolbar color="primary" class="mat-elevation-z1 mat-toolbar " #header>

    <div>
        <a md-icon-button routerLink="/home"><img src="assets/img/icon.png" width="25px"></a>
        <a md-button routerLink="/home">
            <span class="mat-title" fxShow="true" fxShow.lt-md="false">TheZoo</span>
        </a>
        <!--<a md-icon-button (click)="sidenav.close()">
                        <md-icon>close</md-icon>
                        chevron_left
                    </a>-->
    </div>

    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>
    <span class="example-fill-remaining-space"></span>


    <!-- <a [routerLink]="[ '/animals/all' ]">Animals</a> -->
    <span *ngIf="displayName || (userService.userA | async) " class="fill-remaining-space">
        <span>{{displayName}}</span>
    <a md-button (click)="logOut()">Log Out</a>
    <a md-button [routerLink]="[ '/users/profile' ]">Profile</a>
    </span>
    <span *ngIf="!displayName" class="fill-remaining-space">
        <a  md-button [routerLink]="[ '/users/login' ]">Log In</a>
    </span>

    <!-- menu button -->
    <button md-icon-button [md-menu-trigger-for]="menu">
            <md-icon>more_vert</md-icon>
    </button>
</md-toolbar>

<!-- menu -->
<md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>Settins</button>
    <button md-menu-item (click)="toggleTheme()">Toggle Theme</button>
    <button md-menu-item>Contact</button>
    <button md-menu-item>Free Hugs</button>
    <button md-menu-item>Help Me!</button>
</md-menu>