
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="example-form">
<md-card class="cardMaterial">
    <md-card-header>
      <md-card-title>Log In form</md-card-title>
      <md-card-subtitle>Please fill in the fields below:</md-card-subtitle>
    </md-card-header>
          <md-card-content>
              <table>
                  <tr>
                      <td><md-input-container class="example-full-width">
                        <input mdInput placeholder="Email" formControlName="email">
                      </md-input-container></td>
                      <td><div *ngIf="email.invalid && (email.touched || mouseover)" >
                        <div *ngIf="email.dirty || email.hasError('required') || email.hasError('email')" >
                          Please provide an email!
                        </div>
                        <!-- <div *ngIf="email.hasError('email')" >
                            Wrong email format!
                          </div> -->
                      </div>
                    </td>
                  </tr>
              </table>
          </md-card-content>
          <md-card-content>
              <table>
                  <tr>
                      <td><md-input-container class="example-full-width">
                          <input mdInput type = "password"  placeholder="Password" formControlName="password">
                      </md-input-container></td>
                      <td><div *ngIf="password.invalid && (password.touched || mouseover)" >
                        <div *ngIf="password.dirty || password.hasError('required')" >
                          The password should be at least 6 symbols!
                        </div>
                        <div *ngIf="password.hasError('pattern')" >
                            The password should contain only letters, numbers and _!
                          </div>
                        </div>
                      </td>
                  </tr>
                </table>
        </md-card-content>
        <md-card-actions>
            <span (mouseenter)="mouseover = true" (mouseleave)="mouseover = false">
                <button md-raised-button type="submit" [disabled]="!loginForm.valid">Log In</button>
                <a md-raised-button [routerLink]="[ '/users/register' ]">Register</a>                
            </span>
      </md-card-actions>
    </md-card>
  </form>