<!-- animals -->
<md-grid-list cols="4" rowHeight="250px">
    <md-grid-tile *ngFor="let animal of animals" [rowspan]="animal.rows" [colspan]="animal.cols">
        <img src="assets/img/{{animal.name}}.jpg" alt="animal">
        <md-grid-tile-footer>
            <h3 md-line>{{animal.name}}</h3>
            <span md-line>{{animal.status}}</span>
            <button md-icon-button routerLink="/animals/{{animal.name}}"> <!-- (click)="" TODO open animal page -->
                        <md-icon>info</md-icon>
                    </button>
        </md-grid-tile-footer>
    </md-grid-tile>
</md-grid-list>