<md-card class="about-card">
    <md-card-title>The Zoo</md-card-title>
    <md-card-subtitle>This app was created as part of the Angular 4 course at Telerik Academy, season 8.</md-card-subtitle>
    <md-card-content>
        <md-list>
            <md-list-item>
                <a md-button href="https://github.com/TeamGodlyChimpanzees/TheZoo">
                    <img md-list-avatar src="/assets/img/avatars/gorilla.svg">
                    <span> Team GitHub</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a md-button href="https://github.com/nhristova">
                    <img md-list-avatar src="/assets/img/avatars/fox.svg">
                    <span> Nadezhda Hristova</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a md-button href="https://github.com/TsvetelinaM">
                    <img md-list-avatar src="/assets/img/avatars/koala.svg">
                    <span> Tsvetelina Milanova</span>
                </a>
            </md-list-item>
            <md-list-item>
                <a md-button href="https://github.com/jorosoft">
                    <img md-list-avatar src="/assets/img/avatars/tiger.svg">
                    <span> Zhivko Ivanov</span>
                </a>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>