<md-card class="example-card">
    <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>
            <h3>The Zoo</h3>
        </md-card-title>
    </md-card-header>
    <md-card-content>
        <p>
            This app created by:
        </p>
        <md-list>
            <md-list-item>
                <a href="https://github.com/nhristova">
                    <button md-icon-button>
                    <md-icon>person</md-icon>
                    <span>Nadezhda Hristova</span>
                  </button>
                </a>
            </md-list-item>
            <md-list-item>
                <a href="https://github.com/TsvetelinaM">
                    <button md-icon-button>
                    <md-icon>person</md-icon>
                    <span>Tsvetelina Milanova</span>
                  </button>
                </a>
            </md-list-item>
            <md-list-item>
                <a href="https://github.com/jorosoft">
                    <button md-icon-button>
                    <md-icon>person</md-icon>
                    <span>Zhivko Ivanov</span>
                  </button>
                </a>
            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>