<md-sidenav-container fxFlex>
    <md-sidenav mode="side" align="start" class="mat-elevation-z6" #sidenav opened>
        <!--fxFlex.lt-md="70px" fxFlex.gt-sm="160px"-->
        <!-- TODO make sidenav foldable -->

        <!-- nav items -->
        <section class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">

            <md-list>
                <md-list-item *ngFor="let item of items">
                    <a md-button color="warn" routerLink="/{{item.path}}">
                        <md-icon md-list-icon>{{item.icon}}</md-icon>
                        <span fxShow="true" fxShow.lt-md="false"> {{item.name}}</span>
                    </a>
                </md-list-item>
            </md-list>
        </section>

    </md-sidenav>

    <div class="my-content">
        <ng-content></ng-content>
    </div>
</md-sidenav-container>