<md-sidenav-container fxFlex>
    <md-sidenav mode="side" align="start" class="mat-elevation-z6" #sidenav opened>

        <!-- nav items -->
        <section class="flex-container" fxLayout="column" fxLayoutAlign="start stretch">
            <md-nav-list>
                <md-list-item *ngFor="let item of items" routerLink="/{{item.path}}">
                    <md-icon md-list-icon mdTooltip={{item.name}} mdTooltipPosition="right" fxShow="false" fxShow.lt-md="true">{{item.icon}}</md-icon>
                    <md-icon md-list-icon fxShow="true" fxShow.lt-md="false">{{item.icon}}</md-icon>
                    <span class="nav-text" fxShow="true" fxShow.lt-md="false"> {{item.name}}</span>
                </md-list-item>
            </md-nav-list>
        </section>

    </md-sidenav>

    <div class="my-content" fxFlex fxLayout="column">
        <ng-content></ng-content>
    </div>
</md-sidenav-container>