<!-- <form [formGroup]="ticketsForm" (ngSubmit)="onSubmit()" class="example-form"> -->
  <form (ngSubmit)="onSubmit()">
    <table class="example-full-width" cellspacing="0">
      <tr>
      <td>
        <md-select placeholder="Favorite food" [(ngModel)]="selectedValue" name="food">
          <md-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </md-option>
        </md-select></td>
      
    </tr>
  <tr>
    <td>
      <md-form-field>
        <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
        <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
        <md-datepicker #picker></md-datepicker>
    </md-form-field>
  </td>
  </tr>
  </table>
  <!-- <span (mouseenter)="mouseover = true" (mouseleave)="mouseover = false">
    <button md-raised-button type="submit" [disabled]="!registerForm.valid">Send</button>
  </span> -->
  
  </form>