@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.app {
    height: 100vh; // emmet h100vh
}

md-toolbar {
    z-index: 10; // emmet z10
}

// md-sidenav {
//     width: 10vw; // emmet w10vw
// }
// md-sidenav-container {
//     width: 100%;
// }
md-card {
    margin: 12px;
}

.tab-actions {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    left: 20px;
}

md-grid-tile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

// TODO Why does this apply to header when no such class in it?
md-toolbar-row {
    justify-content: space-between;
}