    
  <form [formGroup]="donateForm" (ngSubmit)="onSubmit()" class="form">
    <md-card class="cardMaterial">
      <md-card-header>
        <md-card-title>Donate form</md-card-title>
        <md-card-subtitle>  </md-card-subtitle>
      </md-card-header>
      <md-card-content>
          <table>
              <tr>
                  <td>     
                    <md-select placeholder="Please select an option" [(ngModel)]="selectedValue" (change)="fillTheInput(selectedValue)" formControlName="selectOption">
                      <md-option *ngFor="let option of options" [value]="option.value">
                        {{option.viewValue}}
                      </md-option>
                    </md-select>
                </td>
                <td><div *ngIf="selectOption.invalid  && (selectOption.touched || mouseover)" >
                    <div *ngIf="selectOption.hasError('required')" appErrorMsg>
                      Please choose an option!
                    </div>
                </div>
              </td>
                </tr>
          </table>
      </md-card-content>
      <md-card-content>
          <table>
              <tr>
                  <td>
                      <md-input-container>
                          <input mdInput placeholder="Amount" type="number" [value]="inputValue" formControlName="count">
                      </md-input-container>
                </td>
                <td>
                      <div *ngIf="count.invalid  && (count.touched || mouseover)" >
                      <div *ngIf="count.hasError('required') || count.hasError('min')" appErrorMsg>
                        The min allowed value is 1!
                      </div>
                  </div>
                </td>
            </tr>
          </table>
      </md-card-content>

    <md-card-actions>
            <span (mouseenter)="mouseover = true" (mouseleave)="mouseover = false">
                <button md-raised-button type="submit" [disabled]="!donateForm.valid">Submit</button>
            </span>             
  </md-card-actions>
  <md-card-content>
          <md-input-container>
            <h3>All Donations:</h3>
            <input mdInput [value]="donationsValue" formControlName="allDonations">
          </md-input-container>
  </md-card-content>
</md-card>
</form>
