<app-header></app-header>

<app-nav></app-nav>

<div class="mat-typography">
    <div>
        <p>APP COMPONENT </p>
    </div>

    <h1>
        Welcome to {{title}}
    </h1>

    <md-card>
        <button md-raised-button color="primary">Primary</button>
        <button md-raised-button color="accent">Accent</button>
        <button md-raised-button color="warn">Warn</button>
    </md-card>
    <br>
    <md-card>
        <md-select placeholder="Favourite animal">
            <md-option value="cat">Cat</md-option>
            <md-option value="cats">Cats</md-option>
        </md-select>
    </md-card>
</div>

<app-footer></app-footer>