<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="example-form"> -->

<md-card class="cardMaterial">
    <div fxLayout="row" fxLayoutAlign="space-evenly center profile-title">
        <img class="profile-avatar" src="/assets/img/avatars/tiger.svg">
        <button md-button color="primary">
            <h3>Hello, {{currentUser.displayName | uppercase}} </h3>
        </button>
        <button md-button color="accent">{{currentUser.email}}</button>
    </div>
    <md-card-content>
        <md-card>
            <h3>Fav Animals</h3>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let animal of animals | async | existingValue">
                        <md-icon md-list-icon>pets</md-icon>
                        <a md-button (click)="redirectTo('animals/'+animal.$key)" class="profileAnchor">{{ animal.$key }}</a>
                    </md-list-item>
                    <md-divider></md-divider>
                </md-list>
            </md-card-content>
        </md-card>
    </md-card-content>
    <md-card-content>
        <md-card>
            <md-list>
                <h3 md-header>Bought Tickets</h3>
                <ng2-datepicker id="date" [(ngModel)] ="name" #datepicker="ngModel" [options]=datePickerOptions></ng2-datepicker>
                <md-list-item *ngFor="let item of items | async | filterByDatepicker: name ">
                    <md-icon md-list-icon>event</md-icon>
                    <a md-button (click)="redirectTo('activities/'+item.name)" class="profileAnchor"> <span class="profileLabel">{{ item.name }}</span>: on {{item.date}} for type - {{item.type}}, price: {{item.price}} </a>
                    <!--(click)="showInfo()"-->
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </md-card>
    </md-card-content>
    <md-card-actions>
    </md-card-actions>
</md-card>
<!-- </form> -->
<!-- 
        <md-list>
            <md-list-item> Tour date:</md-list-item>
            <md-list-item> Price: </md-list-item>
            <md-list-item> Type:</md-list-item>
        </md-list> -->