<md-card class="comments" fxFlex="33" fxLayout="row" fxLayoutGap="16px">
    <md-card-header>
        <md-card-title>
            <h2>Comments</h2>
            <button (click)="toggleNewCommentForm()" md-mini-fab class="fab-top-right" color="primary" mdTooltip="Add comment" mdTooltipPosition="left">
                <md-icon>add</md-icon>
            </button>
        </md-card-title>
    </md-card-header>

    <md-card-content>
        <md-divider></md-divider>
        <!-- New comment -->
        <md-card *ngIf="newCommentOpen">
            <form (ngSubmit)="createComment(createNewComment.value)" #createNewComment=ngForm ngNativeValidate>
                <md-card-header>
                    <img md-card-avatar src="assets/img/avatars/1.svg" alt="avatar">
                    <md-card-title>User : </md-card-title>
                    <!--{{currentUser.userName}} -->
                    <md-card-subtitle>Date: {{today | date: 'd MMM y'}}</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    <md-input-container>
                        <textarea mdInput ngModel name="content" #contentArea=ngModel placeholder="Your comment" rows="3" cols="50" required></textarea>
                        <md-error *ngIf="!contentArea.valid && contentArea.touched ">This field is required</md-error>
                    </md-input-container>
                </md-card-content>
                <md-card-actions align="end">
                    <button md-raised-button>Cancel</button>
                    <button md-raised-button color="primary" type="submit" [disabled]="!createNewComment.valid">Submit</button>
                </md-card-actions>
            </form>
        </md-card>

        <!-- Comments list -->
        <md-card *ngFor="let comment of comments">
            <md-card-header>
                <img md-card-avatar src="assets/img/avatars/1.svg" alt="avatar">
                <md-card-title>{{comment.userName}}</md-card-title>
                <md-card-subtitle>{{comment.date | date:'d MMM y'}}</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                {{comment.content}}
            </md-card-content>
        </md-card>
    </md-card-content>
</md-card>