<md-card fxFlex="80%" fxLayout="row">
    <md-card-header>
        <md-card-title>
            <h2>{{animal.name}}</h2>
        </md-card-title>

        <button md-icon-button color="warn">
                <md-icon md-list-icon class='a' *appMyFavToggle='!condition'>grade</md-icon>
            </button>
    </md-card-header>
    <img class="img-width" md-card-image src="assets/img/{{animal.name}}.jpg">
    <md-card-content>
        <p>{{animal.status}}</p>
        <p>{{animal.about}}</p>
        <md-divider></md-divider>
    </md-card-content>
    <md-card-actions>
        <div fxLayout="row">
            <button md-raised-button (click)="backToList()">
            <md-icon>keyboard_backspace</md-icon>
          </button>
            <button md-raised-button>
              Adopt
          </button>
            <button md-raised-button *ngIf="currentUser" (click)="favAnimal()" [ngClass]="{ 'a': !condition}">
          {{condition ? 'Remove from my favs' : 'Add To My Fav'}}                
        </button>
        </div>
    </md-card-actions>
</md-card>

<md-card class="comments" fxFlex="33" fxLayout="row" fxLayoutGap="16px">
    <md-card-header>
        <md-card-title>
            <h2>Comments</h2>
        </md-card-title>
    </md-card-header>

    <md-card-content>
        <md-list>
            <!--dense-->
            <h3 mdSubheader>Hello</h3>
            <md-divider></md-divider>
            <md-list-item *ngFor="let comment of comments">
                <img md-list-avatar src="assets/img/avatars/1.svg" alt="avatar">
                <h3 md-line> {{comment.subject}} </h3>
                <h4 md-line>{{comment.userName}}</h4>
                <p md-line>{{comment.content}}</p>
            </md-list-item>
            <md-divider></md-divider>
        </md-list>
    </md-card-content>
</md-card>